
      <div class="section error-section">
        {{# if success_msg}}
        <div class="success-msg">
            <i class="fa fa-check"></i>
            {{success_msg}}
            <i class="fas fa-times error-msg-close"></i>
        </div>
        {{/if}}
      {{# if errors }}
        {{# each errors }}
        <div class="error-msg">
          <i class="fa fa-times-circle"></i>
            {{ this.msg }}
          <i class="fas fa-times error-msg-close"></i>
        </div>
      {{/each}}
      {{/if}}
      </div>
<h3 class="h3-account-settings">Change Email</h3>

<div class="row">
    <form action="/dashboard/account/email" method="POST" class="col s12" id="form-a">
        <input type="hidden" name="_method" value="PUT"> 
        <div class="row">
            <div class="input-field">
                <input type="password" id="oldPassword" name="oldPassword">
                <label for="title">Current Password</label>
            </div>
            <div class="input-field">
                <input type="email" value="{{email}}" id="currentEmail" name="currentEmail" readonly>
                <label for="title">Current Email</label>
            </div>
            <div class="input-field">
                <input type="email" id="email" name="email">
                <label for="title">New Email</label>
            </div>
            <div class="input-field">
                <input type="email" id="email2" name="email2">
                <label for="title">Confirm Email</label>
            </div>
        </div>
        
        <div class="row">
            <input id="btn-add" type="submit" value="Update" class="btn">
        </div>
    </form>
</div>

<h3 class="h3-account-settings">Change Password</h3>
<div class="row">
    <form action="/dashboard/account/password" method="POST" class="col s12" id="form-a">
        <input type="hidden" name="_method" value="PUT"> 
        <div class="row">
            <div class="input-field">
                <input type="password" id="oldPassword" name="oldPassword">
                <label for="title">Current Password</label>
            </div>
            <div class="input-field">
                <input type="password" id="password" name="password">
                <label for="title">New Password</label>
            </div>
            <div class="input-field">
                <input type="password" id="password2" name="password2">
                <label for="title">Confirm Password</label>
            </div>
        </div>

        
        <div class="row">
            <input id="btn-add" type="submit" value="Update" class="btn">
        </div>
    </form>
</div>


<script>

    // Displaying and animating validation messages
    var errorMsgClose = document.querySelectorAll('.error-msg-close');

    function closeMessage(i) {
        setTimeout(() => {

            if(errorMsgClose[i].parentNode.classList.contains('hidden')) {
                errorMsgClose[i].parentNode.classList.remove('hidden')

                setTimeout(() => {
                    errorMsgClose[i].parentNode.classList.remove('visuallyhidden')
                }, 20)
            } else {
                errorMsgClose[i].parentNode.classList.add('visuallyhidden')
                errorMsgClose[i].parentNode.addEventListener('transitionend', function(e) {
                    errorMsgClose[i].parentNode.classList.add('hidden');
                    }, {
                    capture: false,
                    once: true,
                    passive: false
                });
            }
            //errorMsgClose[i].parentNode.style.display = "none";
        }, 1000 * i + (10000 - (i * 200)))
    }

    errorMsgClose.forEach((item, index) => {
        item.onclick = function(e) {
        e.stopPropagation();
        this.parentNode.style.display = "none";
        }
        closeMessage(index)
    })

    // Navbar active
    var dashboard = document.getElementById('dashboard-nav');
    var linkDashboard = document.getElementById('a-dashboard');
    var iconDashboard = document.getElementById('i-dashboard');

    dashboard.classList.remove('sidenav-edit');
    dashboard.classList.add('sidenav-edit-active');

    linkDashboard.classList.remove('a-sidenav');
    linkDashboard.classList.add('a-sidenav-active');

    iconDashboard.classList.remove('ds-icon');
    iconDashboard.classList.add('ds-icon-active');

</script>