<h3><i class="fas fa-tasks"></i> Taskee</h3>
<div class="section">
    <p class="lead">Create free to-do lists and never forget to do something</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/users/register" class="btn red darken-1">
        <i class="fas fa-user-plus left"></i> Register
    </a>
    <a href="/users/login" class="btn green darken-1">
        <i class="fas fa-sign-in-alt left"></i> Log In
    </a>
</div>